body {
  --black: #00332c;
  --white: #fffffe;
  --grey: #475d5b;
  --off-white: #f2f7f5;
  --green: #00473e;
  --yellow: #faae2b;
  --pink: #ffa8ba;
  --red: #fa5246;

  --animSpeed: 200ms;

  --titleFont: 'Red Hat Display', sans-serif;
  --bodyFont: 'Red Hat Text', sans-serif;

  overflow-y: auto;
  overflow-x: hidden;

  margin: 0;

  font-family: var(--bodyFont);
  font-size: 100%;
  font-weight: 500;

  background-color: var(--off-white);
  color: var(--grey);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titleFont);
  font-weight: bold;
  color: var(--green);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

/* Reusables */

.hyperlink {
  border-bottom: 2px solid transparent;
  color: var(--red);
  transition: ease-out var(--animSpeed);
}

@media (hover: hover) {
  .hyperlink:hover {
    border-color: var(--red);
  }
}

.icon-button {
  padding: 0.5em;
  width: calc(0.5em * 2 + 2em);
  display: inline-block;

  color: var(--green);
  transition: ease-out var(--animSpeed);
}

@media (hover: hover) {
  .icon-button:hover {
    color: var(--red);
  }
}

.cta-button {
  background-color: var(--yellow);
  color: var(--green);

  border-radius: 2px;
  padding: 8px 16px;

  font-weight: 500;

  transition: ease-out var(--animSpeed);
}

@media (hover: hover) {
  .cta-button:hover {
    background-color: var(--red);
  }
}

.cta-button > * {
  vertical-align: sub;
}

.arrow-right-icon {
  margin-left: 4px;
  width: 1em;
  height: 1em;
  display: inline;

  color: inherit;
}
