body {
  --black: #14110f;
  --white: #fbfbfb;
  --yellow: #ffd166;
  --green: #06d6a0;
  --magenta: #b5179e;
  --indigo: #440381;

  --animSpeed: 200ms;

  --titleFont: 'Inter', sans-serif;
  --bodyFont: 'Nunito', sans-serif;

  overflow-y: auto;
  overflow-x: hidden;

  min-width: 100vw;
  min-height: 100vh;

  margin: 0;

  font-family: var(--bodyFont);
  font-size: 100%;
  font-weight: 400;

  background-color: var(--yellow);
  color: var(--black);
}

a {
  text-decoration: none;
  font-weight: 600;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titleFont);
}
