body {
  flex-direction: row;
}

h1 {
  font-size: 3em;
}

#splash {
  position: relative;
  padding-right: 75px;
}

#divider {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: inherit;
}

#divider > svg {
  max-height: 100vh;
}

#panel {
  border: none;
  padding: 0 50px 0 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  max-width: 450px;
  font-size: 1.25em;
}

#links {
  flex-direction: row;
}

#links > a {
  margin: 0;
  margin-right: 10%;

  font-size: 1em;
}

#links > a:hover {
  color: var(--magenta);
}
