body {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.75rem;
}

#splash {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#splash-img {
  width: 100%;
  aspect-ratio: 2000 / 1273;
}

#panel {
  padding: 5vw;
  border-top: 2px solid var(--black);
  background-color: var(--white);
}

#links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#links > a {
  margin: 5px 0;
  font-size: 1.25em;

  transition: color var(--animSpeed);
}

#links > a:hover {
  color: var(--indigo);
}
