#content {
  margin-top: 64px;
  grid-template-columns: 1fr 1fr;
  column-gap: 48px;
}

/* Hero section */

#greeting {
  max-width: 500px;
}

/* Sidebar */

#sidebar {
  grid-column: 2;
  padding-top: 48px;
}
