@font-face {
  font-family: 'Indie Flower';
  src: url('./fonts/IndieFlower-Regular.ttf');
}

@font-face {
  font-family: 'Rock Salt';
  src: url('./fonts/RockSalt-Regular.ttf');
}

html {
  font-size: 120%;
}

body {
  font-family: Indie Flower;
  background: url('./grid-paper-tile.svg');

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.5em;
  @media screen and (min-width: 768px) {
    font-size: 6em;
  }
}
h2 {
  font-size: 2.5em;
  @media screen and (min-width: 768px) {
    font-size: 4.5em;
  }
}
h3 {
  font-size: 2.25em;
  @media screen and (min-width: 768px) {
    font-size: 4em;
  }
}
h4 {
  font-size: 2em;
  @media screen and (min-width: 768px) {
    font-size: 3em;
  }
}
h5 {
  font-size: 1.5em;
  @media screen and (min-width: 768px) {
    font-size: 2em;
  }
}
h6 {
  font-size: 1em;
}

button {
  padding: 0;
  border: none;
  background: none;
}

a {
  box-sizing: content-box;
  padding: 0.75lh 2ch 0.5lh 4ch;
  margin-left: -4ch;
  font-size: 1em;
  color: inherit;

  &:visited {
    color: inherit;
  }

  @media screen and (min-width: 768px) {
    padding-right: 2ch;
    margin-left: 0;
    margin-right: -2ch;
  }

  @media (pointer: fine) {
    text-decoration: none;

    &:hover {
      background-image: url('./button-border.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.nameTitle {
  font-family: Rock Salt;
  white-space: nowrap;

  font-size: 15vw;
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    font-size: 6.5rem;
    margin-bottom: 25px;
  }
}

.heroSection,
.projects {
  width: 90%;
  max-width: 1200px;
}

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 100vh;

  font-size: 3.5em;
  line-height: 1.25;

  & span,
  & small {
    display: block;
  }

  & small {
    font-size: 0.375em;
  }

  @media screen and (min-width: 768px) {
    font-size: 5em;
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 96px;

  @media screen and (min-width: 768px) {
    grid-template-columns: 5fr 4fr;
    column-gap: min(5vw, calc(1200px * 0.05));
  }
}

.projectSection {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / span 2;
    min-height: 500px;
  }
}

.projectSectionDemo,
.projectSectionDetails {
  flex: 1;
}

.projectSectionDemo {
  margin-bottom: 32px;

  & object {
    width: 100%;
  }
}

.projectSectionDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 24px;

  & header {
    & h2 {
      line-height: 1;
    }
    & p {
      font-size: 1.25em;
    }
  }

  & > p,
  & a {
    font-size: 1.2em;
  }

  @media screen and (min-width: 768px) {
    text-align: right;
    align-items: flex-end;
  }
}

#doka-worms-container {
  position: relative;

  & video,
  & img {
    mask-image: url(./project-screenshots/doka-worms-mask.svg);
    mask-size: contain;
    mask-position: center;
  }

  & img {
    display: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./project-screenshots/doka-worms-border.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (prefers-reduced-motion) {
    & video {
      display: none;
    }

    & img {
      display: block;
    }
  }
}
