body {
  display: flex;
  justify-content: center;
}

#content {
  width: 90%;
  margin: 48px 0;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 48px;
}

#back-button {
  display: inline-flex;
  align-items: center;
}

#back-button .feather {
  width: 2em;
}

#profile-picture {
  aspect-ratio: 1;
  width: 200px;

  overflow: hidden;

  border: 2px solid var(--black);
  border-radius: 8px;
}

#social-links {
  display: grid;
  row-gap: 16px;
  align-self: flex-start;
  justify-self: flex-start;
}

.social-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
