body {
  --black: #14110f;
  --white: #fbfbfb;
  --red: #ed6a5a;
  --turquoise: #3ab795;
  --orange: #e19214;
  --purple: #745296;
  --purple-dark: #b367ff;
  --content-width: 1200px;
  --bkg: var(--white);
  --text: var(--black);

  background-color: var(--bkg);
  color: var(--text);
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: unset;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
